<% layout('layouts/boilerplate_trackadmin.ejs') %>
    <link rel="stylesheet" href="/css/overlay.css">
    <link rel="stylesheet" href="/css/center.css">
    <link rel="stylesheet" href="/css/adminhome.css">
    <link rel="stylesheet" href="/css/about.css">
    <%- include('partials/navbar_admin.ejs') %>

        <div class="position-absolute w-100">

            <h1 class="mt-3 display-3">Welcome to your Home Page</h1>

            <div class="row mx-2 mt-5 py-2">
                <div id="filters" class="col-sm-10 col-md-8 col-lg-4 container mb-3" style="z-index: 2; height:100%">
                    <div class="row">

                        <h2 class="col-10 offset-1"> Reviews Reports</h1>

                    </div>
                    <hr class="mx-2">
                    <div class="container overflow-auto">
                        <% for(let review of reviewReports) { %>
                            <div class="row mb-3">
                                <div class="col-6">
                                    <span>Type:</span>
                                    <%= review.type %> <br>
                                        <span>Review</span>
                                        <%= review.review_id.body %>
                                </div>
                                <div class="col-3">
                                    <form action="/rejectReview/<%=review._id%>/<%= review.review_id._id %>"
                                        method="post">
                                        <button class="btn btn-sm btn-danger">Reject
                                            Report</button>
                                    </form>
                                </div>
                                <div class="col-3">
                                    <form action="/acceptReview/<%=review._id%>/<%= review.review_id._id %>"
                                        method="POST">
                                        <button class="btn btn-sm btn-info">Accept
                                            Report</button>
                                    </form>
                                </div>
                            </div>

                            <% } %>
                    </div>


                </div>



                <div id="filters" class="col-sm-10 col-md-8 col-lg-4 container mb-3" style="z-index: 2; height:100%">
                    <div class="row">

                        <h2 class="col-10 offset-1">Answers Reports</h1>

                    </div>
                    <hr class="mx-2">
                    <div class="container overflow-auto">
                        <% for(let answer of answerReports) { %>
                            <div class="row mb-3">
                                <div class="col-6">
                                    <span>Type:</span>
                                    <%= answer.type %><br>
                                        <span>Answer:</span>
                                        <%= answer.answer_id.answer %>
                                </div>
                                <div class="col-3">
                                    <form action="/rejectAnswer/<%=answer._id%>/<%= answer.answer_id._id %>"
                                        method="post">
                                        <button class="btn btn-sm btn-danger">Reject
                                            Report</button>
                                    </form>
                                </div>
                                <div class="col-3">
                                    <form action="/acceptAnswer/<%=answer._id%>/<%= answer.answer_id._id %>"
                                        method="POST">
                                        <button class="btn btn-sm btn-info">Accept
                                            Report</button>
                                    </form>
                                </div>
                            </div>

                            <% } %>
                    </div>


                </div>


                <div id="filters" class="col-sm-10 col-md-8 col-lg-4 container mb-3" style="z-index: 2; height:100%">
                    <div class="row">

                        <h2 class="col-10 offset-1">Questions Reports</h1>

                    </div>
                    <hr class="mx-2">
                    <div class="container overflow-auto">
                        <% for(let question of questionReports) { %>
                            <div class="row mb-3">
                                <div class="col-6">
                                    <span>Type</span>
                                    <%= question.type %><br>
                                        <span>Question</span>
                                        <%= question.question_id.question %>
                                </div>
                                <div class="col-3">
                                    <form action="/rejectQuestion/<%=question._id%>/<%= question.question_id._id %>"
                                        method="post">
                                        <button class="btn btn-sm btn-danger">Reject
                                            Report</button>
                                    </form>
                                </div>
                                <div class="col-3">
                                    <form action="/acceptQuestion/<%=question._id%>/<%= question.question_id._id %>"
                                        method="POST">
                                        <button class="btn btn-sm btn-info">Accept
                                            Report</button>
                                    </form>
                                </div>
                            </div>
                            <hr class="mx-3">

                            <% } %>
                    </div>

                </div>


            </div>





            <script type="text/javascript">
                function showReviews() {
                    if (document.getElementById("reviewReportDisplay").style.display == "none") {
                        document.getElementById("reviewReportDisplay").style.display = "block";
                    } else {
                        document.getElementById("reviewReportDisplay").style.display = "none";
                    }
                }
                function showAnswers() {
                    if (document.getElementById("answerReportDisplay").style.display == "none") {
                        document.getElementById("answerReportDisplay").style.display = "block";
                    }
                    else {
                        document.getElementById("answerReportDisplay").style.display = "none";
                    }
                }
                function showQuestions() {
                    if (document.getElementById("questionReportDisplay").style.display == "none") {
                        document.getElementById("questionReportDisplay").style.display = "block";
                    }
                    else {
                        document.getElementById("questionReportDisplay").style.display = "none";
                    }
                }
            </script>

        </div>