<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <title>Test</title>
</head>

<body>
    <div class="col-1" class="form-group">
        <label for="inputState" style="font-size: x-large;">Governorates</label>
    </div>
    <div class="row">
        <div class="col-8" class="form-group">
            <select id="eventtype1" class="form-control">
                <option value="" disabled selected hidden>
                    Select governorate
                </option>
                <% for(let govern of governorates) { %>

                    <%if(governorate===govern){%>
                        <option selected>
                            <%= govern %>
                        </option>
                        <%} else { %>
                            <option>
                                <%= govern %>
                            </option>
                            <%}%>

                                <% } %>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-1" class="form-group">
            <label for="inputState" style="font-size: x-large;">Districts</label>
        </div>
    </div>
    <div class="row">
        <div class="col-8" class="form-group">
            <select id="eventtype2" class="form-control">
                <option value="" disabled selected hidden>
                    Select district
                </option>
                <% for(let dist of districts) { %>
                    <%if(district===dist){%>
                        <option selected>
                            <%= dist %>
                        </option>
                        <%} else { %>
                            <option>
                                <%= dist %>
                            </option>
                            <%}%>
                                <% } %>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-1" class="form-group">
            <label for="inputState" style="font-size: x-large;">Centers</label>
        </div>
    </div>
    <div class="row">
        <div class="col-8" class="form-group">
            <select id="eventtype3" class="form-control">
                <option value="" disabled selected hidden>
                    Select center
                </option>
                <% for(let cent of centers) { %>
                    <%if(name===cent){%>
                        <option selected>
                            <%= cent %>
                        </option>
                        <%} else { %>
                            <option>
                                <%= cent %>
                            </option>
                            <%}%>
                                <% } %>
            </select>
        </div>
    </div>
    <div class="col-4 offset-2">
        <button class="btn btn-sm btn-info" onclick="showAllReviews()">Show
            All Reviews</button>
    </div>
    <div class="container" id="showAllReviews" style="display:none">
        <%for(let review of reviewHelper) {%>
            <div class="row">
                <div class="col-4 offset-2">
                    <%=review.author_id._id%>
                </div>
                <div class="col-4 offset-2">
                    <%=review.body%>
                </div>
                <div class="col-4 offset-2"><button type="button" class="btn btn-primary"
                        onclick="showReviews('<%=review._id%>')">read
                        More </button>
                    <div class="container" id="review<%=review._id%>" style="display:none;">
                        <div class="container">
                            <h4>Review details</h4>
                            <ul>
                                <li>
                                    Location :
                                    <%=review.location%>
                                </li>
                                <li>
                                    Cleanliness :
                                    <%=review.clean%>
                                </li>
                                <li>Service :
                                    <%=review.service%>
                                </li>
                                <li>
                                    Speed :
                                    <%=review.speed%>
                                </li>
                            </ul>
                        </div>
                        <div class="container">
                            <h4>User details</h4>
                            <ul>
                                <li>Re Number :
                                    <%=review.author_id.reg_num%>
                                </li>
                                <li>
                                    USer Type :
                                    <%=review.author_id.userType%>
                                </li>
                            </ul>
                        </div>
                        <div class="container">
                            <h4>Center details</h4>
                            <%=review.center_id.name%>
                        </div>

                    </div>

                </div>
                <div class="col-4 offset-2">
                    <form action="/admin/allreviews/<%=review._id%>?_method=DELETE" method="POST">
                        <button class="btn btn-sm btn-danger">Delete Review</button>
                    </form>
                </div>
            </div>
            <%}%>
    </div>
    <div class="col-4 offset-2">
        <button class="btn btn-sm btn-info" onclick="showAllQuestions()">Show
            All Questions</button>
    </div>
    <div class="container" id="showAllQuestions" style="display:none">
        <%for(let center of centerHelper) {%>
            <%for(let question of center.questions) {%>
                <div class="row">
                    <div class="col-4 offset-2">
                        <%= question.author_id._id%>
                    </div>
                    <div class="col-4 offset-2">
                        <%=question.question%>
                    </div>
                    <div class="col-4 offset-2"><button type="button" class="btn btn-primary"
                            onclick="showQuestions('<%=question._id%>')">read
                            More </button>
                        <div class="container" id="question<%=question._id%>" style="display:none;">
                            <div class="container">
                                <h4>Answers details</h4>
                                <ul>
                                    <% for(let answer of question.answers) {%>
                                        <li>
                                            Answer <%= answer._id%> :
                                                <%=answer.answer%>
                                        </li>
                                        <li>
                                            Answer <%= answer._id%> author :
                                                <%=answer.author_id%>
                                        </li>
                                        <% }%>
                                </ul>
                            </div>
                            <div class="container">
                                <h4>Question details</h4>
                                <ul>
                                    <li>Author id :
                                        <%=question.author_id._id%>
                                    </li>
                                </ul>
                            </div>
                            <div class="container">
                                <h4>Center details</h4>
                                <%=center.name%>
                            </div>

                        </div>

                    </div>
                    <div class="col-4 offset-2">
                        <form action="/admin/allquestions/<%=center._id%>/<%=question._id%>?_method=DELETE"
                            method="POST">
                            <button class="btn btn-sm btn-danger">Delete Question</button>
                        </form>
                    </div>
                </div>
                <%}%>
                    <%}%>
    </div>

    <script type="text/javascript">
        function showReviews(id) {
            const reviewId = "review" + id;
            if (document.getElementById(reviewId).style.display === "none") {
                document.getElementById(reviewId).style.display = "block";
            }
            else {
                document.getElementById(reviewId).style.display = "none";
            }
        }
        function showQuestions(id) {
            const questionId = "question" + id;
            if (document.getElementById(questionId).style.display === "none") {
                document.getElementById(questionId).style.display = "block";
            }
            else {
                document.getElementById(questionId).style.display = "none";
            }
        }
        function showAllReviews() {
            if (document.getElementById("showAllReviews").style.display === "none") {
                document.getElementById("showAllReviews").style.display = "block";
            }
            else {
                document.getElementById("showAllReviews").style.display = "none";
            }
        }
        function showAllQuestions() {
            if (document.getElementById("showAllQuestions").style.display === "none") {
                document.getElementById("showAllQuestions").style.display = "block";
            }
            else {
                document.getElementById("showAllQuestions").style.display = "none";
            }
        }
    </script>
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
</body>
<script>
    $(document).on('ready', function () {

        $("#eventtype1").on('change', function () {
            var e1 = $(this).val();
            location.href = "/admin/allreviews/?governorate=" + e1;
        });
        $("#eventtype2").on('change', function () {
            var e1 = $("#eventtype1").val();
            var e2 = $("#eventtype2").val();
            location.href = "/admin/allreviews/?governorate=" + e1 + "&district=" + e2;
        });
        $("#eventtype3").on('change', function () {
            var e1 = $("#eventtype1").val();
            var e2 = $("#eventtype2").val();
            var e3 = $("#eventtype3").val();
            location.href = "/admin/allreviews/?governorate=" + e1 + "&district=" + e2 + "&name=" + e3;
        });


    });
</script>

</html>