<%- layout('layouts/boilerplate.ejs') -%>
    <link rel="stylesheet" href="/css/center.css">
    <link rel="stylesheet" href="/css/starability.css">
    <link rel="stylesheet" href="/css/overlay.css">
    <script>
        const point = ['<%- center.longitude%>', '<%- center.latitude%>'];
    </script>



    <%- include('partials/navBar.ejs') -%>
        <div class="w-100 h-100 py-auto" style="background-color :rgba(255, 255, 255, 0.7)">
            <div class="p-3 mx-3">
                <div class="row w-100 h-75 pt-2">


                    <div class="col-sm-12 col-lg-6">
                        <h2 class="display-4 name" style="direction:rtl">
                            <%= center.nameArabic%>
                        </h2>
                        <img src="/img/Shape.png" alt="" class='img-fluid pin ml-3 mb-2'>
                        <p class='location '>
                            <%= center.district%>, <%= center.governorate%>
                        </p>

                    </div>
                </div>
                <div class="row w-100 mt-3">

                    <div class="col-sm-10 col-md-5 col-lg-5 col-xl-4 pb-2 d-flex align-items-stretch">
                        <img src="<%=center.image%>" class="img-fluid thumb h-100 mb-2">
                    </div>
                    <div class="col-sm-12 col-md-7 col-lg-5 col-xl-4 pb-2 d-flex align-items-stretch">
                        <div class="card thumb w-100 shadow bg-color">
                            <div class="card-body mx-n3">
                                <div class="card-title">
                                    <h4 class="card-title text-center mb-n1">Ratings</h4>
                                </div>

                                <div class="row mt-2">
                                    <div class="col-3">
                                        <span class="card-text rating mt-1">location</span>
                                    </div>
                                    <div class="col-6 offset-2 star">
                                        <p class="starability-result"
                                            data-rating="<%=  Math.round(center.avgLocation) %>"></p>
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-3">
                                        <span class="card-text rating mt-1">Service</span>
                                    </div>
                                    <div class="col-6 offset-2 star">
                                        <p class="starability-result"
                                            data-rating="<%= Math.round(center.avgService) %>"></p>
                                    </div>
                                </div>


                                <div class="row mt-2">
                                    <div class="col-3">
                                        <span class="card-text rating mt-1">Cleaniness</span>
                                    </div>
                                    <div class="col-6 offset-2 star">
                                        <p class="starability-result" data-rating="<%=  Math.round(center.avgClean) %>">
                                        </p>
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-3">
                                        <span class="card-text rating mt-1">Speed</span>
                                    </div>
                                    <div class="col-6 offset-2 star">
                                        <p class="starability-result" data-rating="<%=  Math.round(center.avgSpeed) %>">
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-11 col-lg-10 col-xl-4 d-flex align-items-stretch pb-2">
                        <div class="card thumb w-100 shadow bg-color" id='Map'>
                            <div class="card-body">
                                <div class=" card-title">
                                    <h4 class="card-title text-center mb-n1">Location</h4>
                                </div>

                                <div class="row">
                                    <div class="col-6 border border-rounded rounded-2 pt-3 mr-n1" id='map'>
                                        <!--  -->
                                    </div>
                                    <div class="col-6 card-text py-3">
                                        <h4 class="text">openeing and closing hours</h4>
                                        <ul>
                                            <% for(let w of center.workingHours) { %>
                                                <li class="text">
                                                    <%=w.day%>
                                                        <%=w.From%>
                                                        to
                                                            <%=w.To%>
                                                </li>
                                
                                                <% } %>
                                        </ul>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="container thumb-1 overlay" id='write_review'
                    style="background: linear-gradient(to right,  #ffff 0%, rgba(194,194,194,1) 100%);">
                    <div class="row px-2">
                        <div class="col-6 offset-3">
                            <img src="/img/logo(4).png" alt="" class="img-fluid logo">
                        </div>
                        <div class="col-2 ml-auto">
                            <button class="btn btn-outline-danger" id='close_review'>&#10060</button>
                        </div>


                    </div>


                    <h3 class="display-5">Write a Review</h3>
                    <form action="/<%=center._id%>/reviews" method="POST" class="mb-3 needs-validation" novalidate>
                        <div class="mb-3 row">
                            <div class="col-8 offset-2 d-flex justify-content-center">
                                <fieldset class="starability-basic">
                                    <h2 class="label ml-5">Location</h2>
                                    <input type="radio" class="input-no-rate" name="review[location]" value="1" checked
                                        aria-label="No rating." required />
                                    <input type="radio" id="first-rate1" name="review[location]" value="1" required />
                                    <label for="first-rate1" title="Terrible">1 star</label>
                                    <input type="radio" id="first-rate2" name="review[location]" value="2" required />
                                    <label for="first-rate2" title="Not good">2 stars</label>
                                    <input type="radio" id="first-rate3" name="review[location]" value="3" required />
                                    <label for="first-rate3" title="Average">3 stars</label>
                                    <input type="radio" id="first-rate4" name="review[location]" value="4" required />
                                    <label for="first-rate4" title="Very good">4 stars</label>
                                    <input type="radio" id="first-rate5" name="review[location]" value="5" required />
                                    <label for="first-rate5" title="Amazing">5 stars</label>
                                </fieldset>
                            </div>
                        </div>
                        <div class="mb-3">
                            <div class="mb-3 row">
                                <div class="col-8 offset-2 d-flex justify-content-center">
                                    <fieldset class="starability-basic">
                                        <h2 class="label ml-5">Service</h2>
                                        <input type="radio" class="input-no-rate" name="review[service]" value="0"
                                            checked aria-label="No rating." required />
                                        <input type="radio" id="second-rate1" name="review[service]" value="1"
                                            required />
                                        <label for="second-rate1" title="Terrible">1 star</label>
                                        <input type="radio" id="second-rate2" name="review[service]" value="2"
                                            required />
                                        <label for="second-rate2" title="Not good">2 stars</label>
                                        <input type="radio" id="second-rate3" name="review[service]" value="3"
                                            required />
                                        <label for="second-rate3" title="Average">3 stars</label>
                                        <input type="radio" id="second-rate4" name="review[service]" value="4"
                                            required />
                                        <label for="second-rate4" title="Very good">4 stars</label>
                                        <input type="radio" id="second-rate5" name="review[service]" value="5"
                                            required />
                                        <label for="second-rate5" title="Amazing">5 stars</label>
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <div class="mb-3 row">
                                <div class="col-8 offset-2 d-flex justify-content-center">
                                    <fieldset class="starability-basic">
                                        <h2 class="label ml-5">Clean</h2>
                                        <input type="radio" class="input-no-rate" name="review[clean]" value="0" checked
                                            aria-label="No rating." />
                                        <input type="radio" id="third-rate1" name="review[clean]" value="1" required />
                                        <label for="third-rate1" title="Terrible">1 star</label>
                                        <input type="radio" id="third-rate2" name="review[clean]" value="2" required />
                                        <label for="third-rate2" title="Not good">2 stars</label>
                                        <input type="radio" id="third-rate3" name="review[clean]" value="3" required />
                                        <label for="third-rate3" title="Average">3 stars</label>
                                        <input type="radio" id="third-rate4" name="review[clean]" value="4" required />
                                        <label for="third-rate4" title="Very good">4 stars</label>
                                        <input type="radio" id="third-rate5" name="review[clean]" value="5" required />
                                        <label for="third-rate5" title="Amazing">5 stars</label>
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <div class="mb-3 row">
                                <div class="col-8 offset-2 d-flex justify-content-center">
                                    <div class="row w-100 d-flex justify-content-center">
                                        <fieldset class="starability-basic">
                                            <h2 class="label ml-5">Speed</h2>
                                            <input type="radio" class="input-no-rate" name="review[speed]" value="0"
                                                checked aria-label="No rating." required />
                                            <input type="radio" id="fourth-rate1" name="review[speed]" value="1"
                                                required />
                                            <label for="fourth-rate1" title="Terrible">1 star</label>
                                            <input type="radio" id="fourth-rate2" name="review[speed]" value="2"
                                                required />
                                            <label for="fourth-rate2" title="Not good">2 stars</label>
                                            <input type="radio" id="fourth-rate3" name="review[speed]" value="3"
                                                required />
                                            <label for="fourth-rate3" title="Average">3 stars</label>
                                            <input type="radio" id="fourth-rate4" name="review[speed]" value="4"
                                                required />
                                            <label for="fourth-rate4" title="Very good">4 stars</label>
                                            <input type="radio" id="fourth-rate5" name="review[speed]" value="5"
                                                required />
                                            <label for="fourth-rate5" title="Amazing">5 stars</label>
                                        </fieldset>
                                        <!-- <div class="invalid-feedback ">
                                                rating cannot be zero
                                            </div> -->
                                        <div class="valid-feedback">
                                            looks good
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <h2 class="label">Enter your Review here:</h2>
                            <textarea class="form-control" name="review[body]" id="body" cols="30" rows="3" required
                                placeholder="What happened at the center what did you like and what did you dislike ...?"></textarea>
                            <div class="invalid-feedback">
                                Review Cannot be empty
                            </div>
                        </div>
                        <button class="btn btn-success">Submit</button>
                    </form>
                </div>
            </div>

            <div class="row mx-2">
                <div class="col-sm-12 col-md-8 col-lg-6">
                    <div class="card mb-3 bg-color shadow thumb" style="min-height:400px">
                        <div class="card-title mb-n1 py-2">
                            <div class="row">
                                <div class="col-6 offset-3">
                                    <h4 class="text-center">Reviews</h4>
                                </div>
                            </div>
                            <div class="row">

                                <div class="col-6 offset-3 d-flex justify-content-center">

                                    <%if(user && !(userType==='notVaccinated' ) ){%>
                                        <button class="btn btn-primary" id='review'>Write a Review</button>
                                        <% } else { %>
                                            <span class="text-danger text-center">you are not eligible to write a review
                                                or you are not signed in</span>
                                            <% } %>
                                </div>

                            </div>
                        </div>
                        <div class="overflow-auto">
                            <% for(let review of center.reviews) { %>
                                <div class="card-body">
                                    <div class="row mb-2">
                                        <div class="col-7">
                                            <h5 class="label">Average Rating: </h5>
                                            <p class="starability-result"
                                                data-rating="<%= Math.round((review.location +review.speed +review.service+ review.clean)/4) %>">
                                            </p>
                                            <p class="card-text">Review: <%= review.body %>
                                            </p>
                                        </div>
                                        <% if(user==review.author_id) { %>
                                            <div class="col-2 ml-auto mt-1">
                                                <form action="/<%=center._id%>/reviews/<%=review._id%>?_method=DELETE"
                                                    method="POST">
                                                    <button class="btn btn-sm btn-danger">Delete</button>
                                                </form>
                                            </div>
                                            <div class="col-2 mt-1">
                                                <button class="btn btn-sm btn-primary edit_review"
                                                    id="btn<%= review._id%>"
                                                    onclick="document.querySelector('.h<%=review._id%>').style.display = 'block'"
                                                    type="button">Edit </button>
                                            </div>
                                            <% } else { if (user) {%>
                                                <div class="col-4 ml-auto mt-1">
                                                    <button class="btn btn-sm btn-warning"
                                                        onclick="display('h/<%=center._id%>/<%= review._id %>')">Report</button>
                                                    <form action="/<%=center._id%>/<%= review._id %>/reportReview"
                                                        method="post" style="display: none;"
                                                        id="h/<%=center._id%>/<%= review._id %>">
                                                        <div class="form-group">
                                                            <label for="reportReview<%= review._id %>">Report</label>
                                                            <select id="reportReview<%= review._id %>"
                                                                class="form-control" name="reportReview">
                                                                <option value="spam">
                                                                    Spam
                                                                </option>
                                                                <option value="harassment">
                                                                    Harassment
                                                                </option>
                                                                <option value="inappropriate">
                                                                    Inappropriate
                                                                </option>
                                                            </select>
                                                            <button class="btn btn-sm btn-warning">Submit</button>
                                                        </div>

                                                    </form>
                                                </div>
                                                <%} } %>
                                    </div>
                                    <% if(user==review.author_id) { %>

                                        <form action="/<%=center._id%>/reviews/<%=review._id%>?_method=PUT"
                                            method="POST" class="mb-3 thumb-1 overlay edit h<%=review._id%>"
                                            id=<%=review._id%>
                                            style="display: none; background: linear-gradient(to right, #ffff 0%,
                                            rgba(194,194,194,1) 100%);
                                            margin-left : 25px">
                                            <div class="row px-2">
                                                <div class="col-6 offset-3">
                                                    <img src="/img/logo(4).png" alt="" class="img-fluid logo">
                                                </div>
                                                <div class="col-2 ml-auto">
                                                    <button class="btn btn-outline-danger"
                                                        id='close_edit_<%=review._id%>' type="button" onclick="document.querySelector('.h<%=review._id%>')
                                                        .style.display = 'none'">&#10060</button>
                                                </div>


                                            </div>
                                            <h3 class="display-5">Edit your Review</h3>
                                            <div class="mb-3 row">
                                                <div class="col-8 offset-2 d-flex justify-content-center">
                                                    <fieldset class="starability-basic">
                                                        <h2 class="label ml-5">Location</h2>
                                                        <input type="radio" class="input-no-rate"
                                                            name="review[location]" value="1" aria-label="No rating."
                                                            required />
                                                        <input type="radio" id="<%=review._id%>-location1"
                                                            name="review[location]" value="1" required
                                                            <%=(review.location===1)? 'checked' : '' %> />
                                                        <label for="<%review._id%>-location1" title="Terrible">1
                                                            star</label>
                                                        <input type="radio" id="<%=review._id%>-location2"
                                                            name="review[location]" value="2" required
                                                            <%=(review.location===2)? 'checked' : '' %> />
                                                        <label for="<%=review._id%>-location2" title="Not good">2
                                                            stars</label>
                                                        <input type="radio" id="<%=review._id%>-location3"
                                                            name="review[location]" value="3" required
                                                            <%=(review.location===3)? 'checked' : '' %> />
                                                        <label for="<%=review._id%>-location3" title="Average">3
                                                            stars</label>
                                                        <input type="radio" id="<%=review._id%>-location4"
                                                            name="review[location]" value="4" required
                                                            <%=(review.location===4)? 'checked' : '' %> />
                                                        <label for="<%=review._id%>-location4" title="Very good">4
                                                            stars</label>
                                                        <input type="radio" id="<%=review._id%>-location5"
                                                            name="review[location]" value="5" required
                                                            <%=(review.location===5)? 'checked' : '' %> />
                                                        <label for="<%=review._id%>-location5" title="Amazing">5
                                                            stars</label>
                                                    </fieldset>
                                                </div>
                                            </div>
                                            <div class="mb-3 row">
                                                <div class="col-8 offset-2 d-flex justify-content-center">
                                                    <fieldset class="starability-basic">
                                                        <h2 class="label ml-5">Service</h2>
                                                        <input type="radio" class="input-no-rate" name="review[Service]"
                                                            value="1" aria-label="No rating." />
                                                        <input type="radio" id="<%=review._id%>-service1"
                                                            name="review[service]" value="1"
                                                            <%=(review.service===1)? 'checked' : '' %> />
                                                        <label for="<%=review._id%>-service1" title="Terrible">1
                                                            star</label>
                                                        <input type="radio" id="<%=review._id%>-service2"
                                                            name="review[service]" value="2"
                                                            <%=(review.service===2)? 'checked' : '' %> />
                                                        <label for="<%=review._id%>-service2" title="Not good">2
                                                            stars</label>
                                                        <input type="radio" id="<%=review._id%>-service3"
                                                            name="review[service]" value="3"
                                                            <%=(review.service===3)? 'checked' : '' %> />
                                                        <label for="<%=review._id%>-service3" title="Average">3
                                                            stars</label>
                                                        <input type="radio" id="<%=review._id%>-service4"
                                                            name="review[service]" value="4"
                                                            <%=(review.service===4)? 'checked' : '' %>/>
                                                        <label for="<%=review._id%>-service4" title="Very good">4
                                                            stars</label>
                                                        <input type="radio" id="<%=review._id%>-service5"
                                                            name="review[service]" value="5"
                                                            <%=(review.service===5)? 'checked' : '' %>/>
                                                        <label for="<%=review._id%>-service5" title="Amazing">5
                                                            stars</label>
                                                    </fieldset>
                                                </div>
                                            </div>

                                            
                                            <div class="mb-3 row">
                                                <div class="col-8 offset-2 d-flex justify-content-center">
                                                    <fieldset class="starability-basic">
                                                        <h2 class="label ml-5">Clean</h2>
                                                        <input type="radio" class="input-no-rate" name="review[clean]"
                                                            value="1" aria-label="No rating." required />
                                                        <input type="radio" id="<%=review._id%>-clean1"
                                                            name="review[clean]" value="1" required
                                                            <%=(review.clean===1)? 'checked' : '' %> />
                                                        <label for="<%=review._id%>-clean1" title="Terrible">1
                                                            star</label>
                                                        <input type="radio" id="<%=review._id%>-clean2"
                                                            name="review[clean]" value="2" required
                                                            <%=(review.clean===2)? 'checked' : '' %>/>
                                                        <label for="<%=review._id%>-clean2" title="Not good">2
                                                            stars</label>
                                                        <input type="radio" id="<%=review._id%>-clean3"
                                                            name="review[clean]" value="3" required
                                                            <%=(review.clean===3)? 'checked' : '' %> />
                                                        <label for="<%=review._id%>-clean3" title="Average">3
                                                            stars</label>
                                                        <input type="radio" id="<%=review._id%>-clean4"
                                                            name="review[clean]" value="4" required
                                                            <%=(review.clean===4)? 'checked' : '' %> />
                                                        <label for="<%=review._id%>-clean4" title="Very good">4
                                                            stars</label>
                                                        <input type="radio" id="<%=review._id%>-clean5"
                                                            name="review[clean]" value="5" required
                                                            <%=(review.clean===5)? 'checked' : '' %> />
                                                        <label for="<%=review._id%>-clean5" title="Amazing">5
                                                            stars</label>
                                                    </fieldset>
                                                </div>
                                            </div>
                                            <div class="mb-3 row">
                                                <div class="col-8 offset-2 d-flex justify-content-center">
                                                    <fieldset class="starability-basic">
                                                        <h2 class="label ml-5">Speed</h2>
                                                        <input type="radio" class="input-no-rate" name="review[speed]"
                                                            value="1" aria-label="No rating." required />
                                                        <input type="radio" id="<%=review._id%>-speed1"
                                                            name="review[speed]" value="1" required
                                                            <%=(review.speed===1)? 'checked' : '' %> />
                                                        <label for="<%=review._id%>-speed1" title="Terrible">1
                                                            star</label>
                                                        <input type="radio" id="<%=review._id%>-speed2"
                                                            name="review[speed]" value="2" required
                                                            <%=(review.speed===2)? 'checked' : '' %>/>
                                                        <label for="<%=review._id%>-speed2" title="Not good">2
                                                            stars</label>
                                                        <input type="radio" id="<%=review._id%>-speed3"
                                                            name="review[speed]" value="3" required
                                                            <%=(review.speed===3)? 'checked' : '' %> />
                                                        <label for="<%=review._id%>-speed3" title="Average">3
                                                            stars</label>
                                                        <input type="radio" id="<%=review._id%>-speed4"
                                                            name="review[speed]" value="4" required
                                                            <%=(review.speed===4)? 'checked' : '' %> />
                                                        <label for="<%=review._id%>-speed4" title="Very good">4
                                                            stars</label>
                                                        <input type="radio" id="<%=review._id%>-speed5"
                                                            name="review[speed]" value="5" required
                                                            <%=(review.speed===5)? 'checked' : '' %> />
                                                        <label for="<%=review._id%>-speed5" title="Amazing">5
                                                            stars</label>
                                                    </fieldset>
                                                </div>
                                            </div>
                                            
                                            <div class="mb-3">
                                                <label class="form-label" for="body">Review</label>
                                                <textarea class="form-control" name="review[body]"
                                                    id="<%= review._id%>-text" cols="30" rows="3"
                                                    required><%=review.body %></textarea>
                                            </div>

                                            <button class="btn btn-success" type='submit'>Save</button>

                                        </form>

                                        <% }%>
                                </div>
                                <hr>
                                <% } %>

                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-8 col-lg-6">
                    <div class="card mb-3 bg-color shadow thumb container" style="min-height:400px">
                        <div class="card-title mb-n1 py-2 row">
                            <div class="col-6 offset-3">
                                <h4 class="text-center">Questions and Answers</h4>
                            </div>
                        </div>
                        <!-- <div class="card-body"> -->
                        <div class="row mb-3">
                            <div class="col-10 offset-1 justify-content-center d-flex">

                                <% if(user) { %>
                                    <button class="btn btn-primary" onclick="addQuestion()" id="addQuestionButton">Add
                                        Question
                                    </button>
                                    <% } else { %>
                                        <span class="text-danger text-center">you are not signed in to ask a question
                                            Please sign in first
                                        </span>
                                        <% } %>


                                            <div id="question" style="display: none; width: 100%;">
                                                <form action="/<%=center._id%>/addQuestion" method="POST"
                                                    class="w-100 ">
                                                    <div class="row">
                                                        <input class="form-control mb-1" type="text" cols="30" rows="3"
                                                            name="question[question]" id="questionBody"
                                                            placeholder="What is your question.. ?"></input>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-6 offset-3 d-flex justify-content-center">
                                                            <button class="btn btn-success ml-auto mr-auto">Add
                                                                question</button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>

                            </div>
                        </div>
                        <!-- </div> -->
                        <div class="overflow-auto container py-1">
                            <% for(let q of center.questions) { %>

                                <div class="row d-flex align-items-center mb-2 mt-2">
                                    <div class="col-8">
                                        <p class="card-text question" id="questionDisplay<%q._id%>">
                                            Q: <%=q.question%>

                                        </p>
                                    </div>

                                    <%if( user && !(user==q.author_id)){%>
                                        <div class="col-3">

                                            <button class='btn-sm btn-warning'
                                                onclick="display('h/<%=center._id%>/<%= q._id %>/reportQuestion')">Report</button>
                                            <form action="/<%=center._id%>/<%= q._id %>/reportQuestion" method="post"
                                                id='h/<%=center._id%>/<%= q._id %>/reportQuestion'
                                                style="display: none;">
                                                <div class="form-group">
                                                    <label for="reportQuestion<%= q._id %>">Report</label>
                                                    <select id="reportQuestion<%= q._id %>" class="form-control"
                                                        name="reportQuestion">
                                                        <option value="spam">
                                                            Spam
                                                        </option>
                                                        <option value="harassment">
                                                            Harassment
                                                        </option>
                                                        <option value="inappropriate">
                                                            Inappropriate
                                                        </option>
                                                    </select>
                                                </div>
                                                <button class="btn btn-sm btn-warning">Submit</button>
                                            </form>

                                        </div>
                                        <%}%>
                                            <% if(user==q.author_id) { %>
                                                <div class="col-2">
                                                    <form action="/<%=center._id%>/<%=q._id%>?_method=DELETE"
                                                        method="POST">
                                                        <button class="btn btn-sm btn-danger">Delete</button>
                                                    </form>
                                                </div>
                                                <div class="col-2">
                                                    <button class="btn btn-sm btn-primary"
                                                        id="buttonQuestion<%= q._id%>"
                                                        onclick="display('<%= q._id %>')">Edit </button>
                                                </div>
                                                <%} else {%>
                                                    <% if(user && userType !=="notVaccinated" ) { %>
                                                        <div class="col-4">
                                                            <button class="btn btn-sm btn-success"
                                                                id="buttonQuestion<%= q._id%>"
                                                                onclick="display('h/<%=center._id%>/<%=q._id%>')">
                                                                Answer </button>
                                                        </div>
                                                        <% } %>
                                                            <% } %>
                                </div>
                                <div class="row">
                                    <div class="col-8 offset-2">
                                        <form action="/<%=center._id%>/<%=q._id%>?_method=PUT" method="POST"
                                            class="mb-3" id=<%=q._id%> style="display: none;" >
                                            <div class="mb-3 justify-content-center">
                                                <label class="form-label">Edit your question</label>
                                                <textarea class="form-control" cols="30" rows="3"
                                                    name="question[question]"><%=q.question %></textarea>
                                                <button class="btn-sm btn-success mt-2">Save</button>
                                            </div>

                                        </form>
                                    </div>
                                </div>


                                <% if(user && userType !=="notVaccinated" ) { %>
                                    <form action="/<%=center._id%>/<%=q._id%>/addAnswer" method="POST"
                                        style="display: none;" id="h/<%=center._id%>/<%=q._id%>">
                                        <div class="row">
                                            <div class="col-6">
                                                <label class="form-label" for="answerBody">Add Answer</label>
                                            </div>

                                        </div>
                                        <textarea class="form-control" id="answerBody" name="answer[answer]" cols="30"
                                            rows="3"></textarea>
                                        <button class="btn btn-success">Add</button>
                                    </form>
                                    <%}%>
                                        <div class="row bg-secondary py-2 answer-round">
                                            <% if (q.answers) {%>
                                                <div class="row">
                                                    <div class="col-6 offset-3 d-flex justify-content-center">
                                                        <h5 class="card-title answers">Answers</h5>
                                                    </div>
                                                </div>
                                                <%}%>
                                                    <% for(let a of q.answers) { %>
                                                        <div
                                                            class="row container d-flex align-items-center answer-border py-2 mb-1">
                                                            <div class="col-7 ">
                                                                <p class="card-text answers"
                                                                    id="answerDisplay<%a._id%>">
                                                                    <%=a.answer%>
                                                                </p>
                                                            </div>
                                                            <% if(a.author_id==user) { %>
                                                                <div class="col-2">
                                                                    <form
                                                                        action="/<%=center._id%>/<%=q._id%>/<%=a._id%>?_method=DELETE"
                                                                        method="POST">
                                                                        <button
                                                                            class="btn btn-sm btn-danger">Delete</button>
                                                                    </form>
                                                                </div>
                                                                <div class="col-2">
                                                                    <button class="btn btn-sm btn-primary"
                                                                        id="buttonAnswer<%= a._id%>"
                                                                        onclick="showFormAnswer('<%= a._id %>')">Edit
                                                                    </button>
                                                                </div>
                                                                <form
                                                                    action="/<%=center._id%>/<%=q._id%>/<%=a._id%>?_method=PUT"
                                                                    method="POST" class="mb-3" id=<%=a._id%>
                                                                    style="display:
                                                                    none;">
                                                                    <div class="mb-3">
                                                                        <label class="form-label">Answer</label>
                                                                        <textarea class="form-control" cols="30"
                                                                            rows="3"
                                                                            name="answer[answer]"><%=a.answer %></textarea>
                                                                    </div>
                                                                    <button class="btn btn-success">Save</button>
                                                                </form>
                                                                <%} else { if (user) {%>
                                                                    <div class="col-4">
                                                                        <button class="btn btn-sm btn-warning ml-auto"
                                                                            onclick="display('h/<%=center._id%>/<%= a._id %>')">Report</button>
                                                                        <form
                                                                            action="/<%=center._id%>/<%= a._id %>/reportAnswer"
                                                                            method="post" style="display: none;"
                                                                            id="h/<%=center._id%>/<%= a._id %>">
                                                                            <div class="form-group">
                                                                                <di class="row">
                                                                                    <div class="col-6">
                                                                                        <label
                                                                                            for="reportReview<%= a._id %>">Report</label>
                                                                                    </div>

                                                                                </di>
                                                                                <select id="reportReview<%= a._id %>"
                                                                                    class="form-control d-inline"
                                                                                    name="reportAnswer">
                                                                                    <option value="spam">
                                                                                        Spam
                                                                                    </option>
                                                                                    <option value="harassment">
                                                                                        Harassment
                                                                                    </option>
                                                                                    <option value="inappropriate">
                                                                                        Inappropriate
                                                                                    </option>
                                                                                </select>
                                                                                <button
                                                                                    class="btn btn-sm btn-warning">Submit</button>
                                                                            </div>

                                                                        </form>
                                                                    </div>
                                                                    <% } } %>
                                                        </div>
                                                        <%}%>
                                        </div>


                                        <%}%>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <script type="text/javascript">
            function display(id) {
                const reviewId = id;
                if (document.getElementById(reviewId).style.display === "none") {
                    document.getElementById(reviewId).style.display = "block";
                    event.srcElement.classList.add(event.srcElement.innerText)
                    event.srcElement.innerHTML = 'Close'

                    event.srcElement.classList.add('btn-danger')
                    // event.srcElement.style.backgroundColor = 'red'
                    console.log(event.srcElement.classList)
                }
                else {
                    document.getElementById(reviewId).style.display = "none";
                    event.srcElement.classList.remove('btn-danger')
                    console.log(event.srcElement.classList[event.srcElement.classList.length - 1])
                    event.srcElement.innerHTML = event.srcElement.classList[event.srcElement.classList.length - 1];
                }
            }
        </script>

        <!-- <script type="text/javascript">
                    function showForm(id) {
                        document.getElementById(id).style.display = 'block';
                        const btnEdit = "btn" + id;
                        const displayEdit = "reviewDisplay" + id;
                        document.getElementById(id).style.display = "block";
                        document.getElementById(btnEdit).style.display = "none";
                        document.getElementById(displayEdit).style.display = "none";
                    }
                </script> -->




        <script src='https://api.mapbox.com/mapbox-gl-js/v2.4.1/mapbox-gl.js'></script>
        <script src='/javascripts/center.js'> </script>
        <!-- <script src="/javaScripts/signin.js"></script> -->