<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show</title>
</head>

<body>
    <div class="container">
        <ul>
            <li>
                <%= center.name%>
            </li>
            <li>
                <%= center.latitude%>
            </li>
            <li>
                <%= center.longitude%>
            </li>
            <li>
                <%= center.governorate%>
            </li>
            <li>
                <%= center.nameArabic%>
            </li>
            <li>
                <%= center.governorateArabic%>
            </li>
            <li>
                <%= center.districtArabic%>
            </li>
            <li>
                <%= center.district%>
            </li>
            <li>
                <img src="<%=center.image%>">
            </li>
        </ul>






    </div>
    <div class="container">
        reviews




    </div>

</body>

</html>